*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{

    --white: #FFFFFF;
    --success: #2BC64D;
    --warning: #FFBF00;
    --danger: #FF8772;
    --info: #8FA1FC;
    --header-500: #639F9E;
    --header-600: #488488;

    --blue-dark-100: #E2FAF4;
    --blue-dark-300: #A3E6DF;
    --blue-dark-500: #59A8AD;
    --blue-dark-900: #113953;
    --blue-dark-action: #215F73;


    --blue-light-100: #E9FCF5;
    --blue-light-300: #BAF0E4;
    --blue-light-600: #5EADB2;
    --blue-light-900: #184B63;


    --yellow-500: #eba417;
    --gray-100: #F6F6F6;
    --gray-200: #EDEDED;
    --gray-300: #CACACA;


}

@media (max-width: 1080px) {
    html{
        font-size: 93.75%;
    }
    
}

@media (max-width: 728) {
    html{
        font-size: 87.5%;
    }
    
}

body{
    background: #F5F5F5;
    color: var(--white);
}

body, input, textarea, select, button{
    font: 400 1rem "Roboto", sans-serif;
}

button{
    cursor: pointer;
}

a{
    color: indianred;
    text-decoration: none;
}