.headerContainer{
    height: 12vh;
    width: 100vw;
    background: var(--header-500);
    border-bottom: 1px solid;
}

.headerContent{
    max-height: 1120px;
    height: 12vh;
    margin: 0 4vw;
    padding: 0 2vh;
    display:  flex;
    align-items: center;

    img{
        width: 4.5vw;
    }

    nav{
        margin-left: 8vw;
        height: 12.5vh;

        a{
            display: inline-block;
            position: relative;
            padding: 0 0.5rem;
            height: 12.3vh;
            line-height: 12.4vh;
            color: var(--gray-200);

            transition: color 0.2rem;

            & + a{
                margin-left: 2vw;
            }

            &:hover{
                color: var(--white)

            }

            &.active{
                color: var(--white);
                font-weight: bold;
            }

            &.active::after{
                content: '';
                height: 3px;
                border-radius: 3px 3px 0 0;
                width: 100%;
                position: absolute;
                bottom: 1px;
                left: 0;
                background: #F4F00C;
            }
        }

    }

    label{
        display: flex;
        flex-direction: row;
        max-width: 400px;
        width: 23vw;
        margin-left: 8vw;
        padding: 1rem;
        align-self: center;
        color: var(--white);
        background-color: var(--header-600);
        border-radius: 5rem;


        input{
            color: var(--white);
            width: 19vw;
            border: none;
            background: none;

            &::placeholder{
                color: var(--gray-200);
            }
        }

        svg{
            margin-left: auto;
            display: flex;
        }


    }

    div{
        display: flex;
        margin-left: auto;

        div{
            display: block;
            position: relative;
            margin-right: 0.5vw;
            text-align: right;

            p{
                position: relative;
            }

            & p + p{
                color: var(--gray-200);
                font-size: small;
            }
        }
        img{
            border-radius: 50%;
            width: 3.3vw
        }
    }

}

@media (max-width: 900px){


    .headerContainer{

        .headerContent{

            img{
                width: 8vw;
            }


            nav{
                display: none;
            }
        
            label{
                margin: auto;
                width: 40vw;
                height: 7vh;
                padding: 2vw;

                input{
                    width: 29vw;
                }

                svg{
                    align-self: center;
                }
            }

            div{
                div{
                    display: none;
                }

                img{
                    display: none;
                }
            }

        }
    }
}







