.container{

    width: 8rem;   
    margin-right: 4rem; 
    background-color: red;

    div{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 1rem;

        div{
            div{
                h1{
                    font-weight: bold;
                    color: var(--gray-300);
                    font-size: small;
                }

                div{
                    display: flex;
                    justify-content: space-between;
                    margin: 1rem;
                    margin-top: 2rem;
                    align-items: stretch;
                }
            }
        }
    }

}